/* Général */

body{
    overflow-x: hidden;
    /* min-width: fit-content; */
}

html {
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar-track{
    border : solid 1px black
} */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #40a3d0, #a68eff);
}

header{
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 200ms linear;
}

.scrolled{
    background-color: #a68eff;
}

header ul li{
    display: inline;
    padding: 15px;
}

header ul li a{
    color: #f2f2f2;

    /* text-decoration: none; */
}




/* Body */

.main{
    background: linear-gradient(to bottom right, #b5bbff, #d3d5e9);
    height: 100vh;
    width: 100%;
}

.btn{
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
}

.btn:hover{
    background: transparent;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

.btn-bleu{
    color: white;
    background: linear-gradient(45deg, #40a3d0, #a68eff);
    border: linear-gradient(45deg, #40a3d0, #a68eff);   
}

.btn-bleu:hover{
    border-color: black;
}

.carousel-item img{
    border-radius: 10px;
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.contact{
    background: linear-gradient(to bottom right, #b5bbff, #d3d5e9);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* height: 100vh; */
    width: 100%;
}

.formulaire{
    border-radius: 10px;
}