/* Général */

body{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #40a3d0, #a68eff);
}

header{
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 200ms linear;
}

.scrolled{
    background-color: #a68eff;
}

header ul li{
    display: inline;
    padding: 15px;
}

header ul li a{
    color: #f2f2f2;

    /* text-decoration: none; */
}




/* Body */

.main{
    background: linear-gradient(to bottom right, #b5bbff, #d3d5e9);
    height: 100vh;
}

.btn{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

.btn:hover{
    background-color: transparent;
}

.btn-bleu{
    color: white;
    background-color: #40a3d0;
    border: 2px solid #40a3d0 !important;
}